<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;500;600&family=Libre+Baskerville&family=Sofia+Sans:wght@300;400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/style/main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row main-layout">
            <div class="daily-info">
                <ul class="daily-info-detail">
                    <li class="row searching-part">
                        <div class="col-6">
                            <form action="/search" class="form-search" method="post">
                                <input class="search-input" type="text" placeholder="Search location !"
                                    name="locationName">

                            </form>
                        </div>
                        <div class="col-6 location-title">
                            <i style="margin-right: 20px;" class="fa-sharp fa-solid fa-location-dot"></i>
                            <%if (locals.searchName){ %>
                            <span class="location-name"><%=searchName %></span>
                            <% }else{%>
                            <span class="location-name">Bien Hoa, Dong Nai</span>

                            <% }%>
                        </div>
                    </li>
                    <li class="row information-part">
                        <div class="col-3 bonus-title row">
                            <ul>
                                <li><span>Good Morning</span></li>
                                <li><span>3:20</span></li>
                                <li>Cloudy</li>
                            </ul>
                        </div>
                        <%if (locals.todayContent){ %>
                        <div class="col-5 deg-title">
                            <span class="deg-title-num"><%=todayContent.tavg %>°</span>
                        </div>
                        <div class="row col-4 addition-title">
                            <ul>
                                <li class="symbol-deg"></li>
                                <li class="infor-adding row">
                                    <ul>
                                        <li><i class="fa-solid fa-wind"></i><span style="font-size: 2rem;">
                                                mph</span>
                                        </li>
                                        <li><i class="fa-solid fa-cloud-rain"></i><span
                                                style="font-size: 2rem; margin-left: 6px;">ETo
                                        </li>
                                    </ul>
                                </li>
                        </div>
                        <% }else{%>
                        <div class="col-5 deg-title">
                            <span class="deg-title-num">Sorry</span>
                        </div>
                        <div class="row col-4 addition-title">
                            <ul>
                                <li class="symbol-deg"></li>
                                <li class="infor-adding row">
                                    <ul>
                                        <li><i class="fa-solid fa-wind"></i><span
                                                style="font-size: 2rem;"><%=todayContent.wspd %>
                                                mph</span>
                                        </li>
                                        <li><i class="fa-solid fa-cloud-rain"></i><span
                                                style="font-size: 2rem; margin-left: 6px;"><%=todayContent.prcp %> ETo
                                        </li>
                                    </ul>
                                </li>
                        </div>
                        <%} %>
                    </li>
                    <li class="more-information-part">
                        <div class="list-weather-daily row">
                            <!-- testing -->
                            <% content.slice(0,6).forEach(element => {%>
                            <a class="col-2" href="#">
                                <div class="row card-weather">
                                    <div class="col-4 day-name">
                                        <span><%=element.dayName %></span>
                                    </div>
                                    <div class="col-4 temp-name">
                                        <span><%=element.tavg%>°</span>
                                    </div>
                                    <div class="col-4 status-name">
                                        <span>Rainy</span>
                                    </div>
                                </div>
                            </a>
                            <%});  %>

                            <!-- end testing -->

                        </div>
                    </li>
                </ul>
            </div>

            </li>

            </ul>
        </div>

    </div>
    </div>
</body>

</html>